ion-card {
  background: rgba(255, 255, 255, 0.25);
}

ion-card-subtitle {
  color: yellow;
}

.transparent-bg {
  background: transparent;
  color: white;
  font-weight: bold;
}

p {
  text-indent: 20px;
}
