<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button
        defaultHref="create-appointment"
        slot="end"></ion-back-button>
      <ion-title>Categories</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <div class="wrapper">
        <div class="ion-activatable ripple-parent rounded-rectangle">
          <ion-label>Opthamologist</ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="wrapper">
        <div class="ion-activatable ripple-parent rounded-rectangle">
          <ion-label>Neurologist</ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="wrapper">
        <div class="ion-activatable ripple-parent rounded-rectangle">
          <ion-label>Pulmonologist</ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="wrapper">
        <div class="ion-activatable ripple-parent rounded-rectangle">
          <ion-label>OB-Gyne</ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="wrapper">
        <div class="ion-activatable ripple-parent rounded-rectangle">
          <ion-label>Dermatologist</ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="wrapper">
        <div class="ion-activatable ripple-parent rounded-rectangle">
          <ion-label>Orthodontist</ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="wrapper">
        <div class="ion-activatable ripple-parent rounded-rectangle">
          <ion-label>Urologist</ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="wrapper">
        <div class="ion-activatable ripple-parent rounded-rectangle">
          <ion-label>Pediatrician</ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="wrapper">
        <div class="ion-activatable ripple-parent rounded-rectangle">
          <ion-label>Cardiologist</ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="wrapper">
        <div class="ion-activatable ripple-parent rounded-rectangle">
          <ion-label>Psychologist</ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
