<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>Home</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-header>
            <ion-img src="../../assets/img/appointment.jpg"></ion-img>
          </ion-header>
          <ion-footer
            ><ion-button color="tertiary" expand="block">
              <ion-icon name="add"></ion-icon>
              <ion-label class="ion-text-capitalize"
                >Create Appointment</ion-label
              >
            </ion-button>
          </ion-footer>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col> </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
