ion-content {
  .header {
    padding: 0 12vw;
    margin-top: 9em;
    color: #fff;
    h3 {
      font-size: 1.1rem;
      color: #fff;
      span {
        color: #fff;
      }
    }
    h1 {
      font-size: 2.2rem;
      font-weight: 400;
    }
  }

  .form {
    padding: 0 12vw;
    margin-top: 70px;
    ion-input {
      --background: gray;
      --padding-start: 33px;
      height: 55px;
      border-radius: 25px;
      margin-bottom: 22px;
    }
  }

  .register {
    margin-top: 50px;
    background-color: #e1395f;
  }

  .footer {
    color: #fff;
    padding: 0 12vw;
    margin-top: 100px;
    text-align: center;

    h3 {
      font-size: 1rem;
      font-weight: 400;

      span {
        font-size: 1.2rem;
        color: #e1395f;
        font-weight: 500;
      }
    }
  }

  .register-footer {
    margin-top: 80px;
  }
}
