<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
      <ion-title>Profile</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col
        style="
          background-color: #6370ff;
          height: 100px;
          border-bottom: 5px groove white !important;
        ">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-avatar
                style="
                  width: 120px;
                  height: 120px;
                  border: 5px outset white !important;
                ">
                <ion-img src="../../assets/img/avatar.jpg"></ion-img>
              </ion-avatar>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col> </ion-col>
      <ion-col>
        <h1>Sungjae</h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top">
      <ion-col>
        <ion-list lines="full">
          <ion-item>
            <ion-title
              >Current Status:
              <ion-text color="success"
                >Ongoing Appointment</ion-text
              ></ion-title
            >
          </ion-item>
          <ion-item>
            <ion-title>Age: <ion-text color="medium">69</ion-text></ion-title>
          </ion-item>
          <ion-item>
            <ion-title
              >Blood Type: <ion-text color="medium">O</ion-text></ion-title
            >
          </ion-item>
          <ion-item>
            <ion-title
              >Address: <ion-text color="medium">Korea</ion-text></ion-title
            >
          </ion-item>
          <ion-item>
            <ion-title>Sex: <ion-text color="medium">Male</ion-text></ion-title>
          </ion-item>
          <ion-item>
            <ion-title>Age: <ion-text color="medium">69</ion-text></ion-title>
          </ion-item>
          <ion-item>
            <ion-title
              >Nationality:
              <ion-text color="medium">Korean</ion-text></ion-title
            >
          </ion-item>
          <ion-item>
            <ion-title
              >Contact Number:
              <ion-text color="medium">+63 9202020627</ion-text></ion-title
            >
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button
          expand="block"
          color="secondary"
          routerLink="/past-appointments"
          >Show Past Appointments</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
