<ion-content style="border-left: 7px solid #e1395f">
  <div class="header">
    <h3>Happy to see you!</h3>
    <h1>Create a<br />New Account</h1>
  </div>

  <div class="form">
    <ion-input type="email" placeholder="Email" v></ion-input>
    <ion-input placeholder="Username"></ion-input>
    <ion-input type="password" placeholder="Password"></ion-input>
  </div>

  <div>
    <ion-button class="button" color="primary" routerLink="/login">
      <ion-label>Sign up</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="footer register-footer">
    <h3 routerLink="/login">Already have an account? <span>Login</span></h3>
  </div>
</ion-content>
