// settings scss
ion-header{
    font-family: 'Poppins', sans-serif;
    ion-icon{
        font-size: 30px;
        position: relative;
        margin-right: 10px;
    }
    #notifications-badge-msg{
        background-color: rgb(67, 7, 233);
        position: absolute;
        top: 5px;
        right: 55px;
        color: #fff;
        z-index: 111;
    }
    ion-img{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 10px;

    }
}

ion-content{
    --background: #f0f0f2;
    font-family: 'Poppins', sans-serif;

    h4{
        padding: 5px 0px 0px 20px;
        color: gray;
    }
    ion-icon{
        font-size: 20px;
    }
}

// try langs
.wrapper {
    display: flex;
    flex-wrap: wrap;
  
    // align-items: center;
    // justify-content: space-between;
    // text-align: right;
  
    // height: 170px;
    width: 400px;
  
    // margin: 0 auto;
  }
  
  b {
    width: 100%;
  }
  
  .ripple-parent {
    display: flex;
    align-items: right;
    justify-content: left;
  
    position: relative;
    overflow: hidden;
  
    border: 1px solid #ddd;
  
    user-select: none;
  }
  
   .rounded-rectangle {
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border-color: transparent;
  }