ion-content{
    --background: #39559e;
    border-left: 7px solid #e1395f;

    .header{
        padding: 0 12vw;
        margin-top: 9em;
        color: #fff;
        h3{
            font-size: 1.1rem;
            color: #fff;
            span {
                color: #fff;
            }
        }
        h1{
            font-size: 2.2rem;
            font-weight: 400
        }
    }

    .form{
        padding: 0 12vw;
        margin-top: 70px;
        ion-input{
            --background: #fff;
            --padding-start: 33px;
            height: 55px;
            border-radius: 25px;
            margin-bottom: 22px;
            --placeholder-color: #e1395f;
            --color: #e1395f;
        }
    }

    .button{
        width: 50vw;
        background-color: #e1395f;
        margin-top: 50px;
        margin-left: 100px;
        padding: 10px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 500;
        justify-content: center;
            ion-icon{
                margin-left: 30px;
            }
    }

    .register{
        margin-top: 50px;
        background-color: #e1395f;
    }

    .footer{
        color: #fff;
        padding: 0 12vw;
        margin-top: 100px;
        text-align: center;

        h3{
            font-size: 1rem;
            font-weight: 400;

            span{
                font-size: 1.2rem;
                color: #e1395f;
                font-weight: 500;

            }
        }
    }

    .register-footer{
        margin-top: 80px;

    }

}
